body{
  margin: 0;
  padding: 0;
}

.center-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

.center-box{
  width: 50%;
  height: 50%;
  min-width: 300px;
  max-width: 850px;
}

.title-box1{
    text-align: center;
    background-color: rgb(169, 169, 169);
    border: 1px solid #555;
    padding: 100px 20px;
  }

  .title-box1 h3{
    text-align: left;
    margin-bottom: 0;
  }

  .title-box1 input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  .title-box1-title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 0.5em;
  }
  
  .title-box1 p{
    margin: 0;
    padding: 0;
  }