body{
  position: absolute;
  top: 10%;
  left: 35%;
}

.title-box1{
    background-color: rgb(169, 169, 169);
    margin: 1em 0;
    padding: 100%;
    position: relative;
    border: 1px solid #555;
  }
  
  .title-box1-title{
    position: absolute;
    top: -10%;
    left: 35%;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 0.5em;
  }
  
  .title-box1 p{
    margin: 0;
    padding: 0;
  }